/**
 * Global Styles
 */

@use 'ress' as ress;

@mixin font-default() {
    font-family: 'Hiragino Sans', Meiryo, Verdana, sans-serif;
}

body {
    @include font-default();
    background-color: #212121;
    box-sizing: border-box;
    color: #fff;
}
